MYSQL_ROOT_PASSWORD=root
JWT_ADMIN_SECRET=change-me

STORAGE_TYPE=local

S3_ENDPOINT=
S3_REGION=us-east-1
S3_BUCKET=
S3_ACCESS_KEY_ID=
S3_ACCESS_KEY_SECRET=
S3_PUBLIC_URL_PREFIX=

OSS_ENDPOINT=oss-us-east-1.aliyuncs.com
OSS_BUCKET_NAME=
OSS_ACCESS_KEY_ID=
OSS_ACCESS_KEY_SECRET=

FRONTEND_PORT=80
BACKEND_PORT=8082
MYSQL_PORT=3307
